# Python cache
__pycache__/
*.py[cod]

# Package metadata
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Test cache
.pytest_cache/

# macOS
.DS_Store

# VS Code
.vscode/